/* span-4: 4 колонки */
#grid-frames-script > .card__wrapper {
  grid-column: span 4;
}

@media screen and (max-width: 1680px) {
  #grid-frames-script > .card__wrapper {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1268px) {
  #grid-frames-script > .card__wrapper {
    grid-column: span 4;
  }
}

@media screen and (max-width: 858px) {
  #grid-frames-script > .card__wrapper {
    grid-column: span 3;
  }
}

@media screen and (max-width: 650px) {
  #grid-frames-script > .card__wrapper {
    grid-column: span 2;
  }
}

@media screen and (max-width: 444px) {
  #grid-frames-script > .card__wrapper {
    grid-column: span 1;
  }
}

.frame-wrapper {
  filter: blur(24px) opacity(0);
  transition: filter 0.35s ease;
  width: 100%;
  height: 100dvh;
  padding: 64px 0 64px;
  background-color: #ffffff99;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.frame-wrapper.visible {
  filter: blur(0px) opacity(1);
}

.frame-wrapper.grid {
  grid-template-rows: 100%;
}

.frame-wrapper.grid > * {
  height: auto;
}

.frame-wrapper > .left-wrapper {
  min-height: 80px;
  width: 100%;
  grid-column: 1 / 5;
}

.left-wrapper > * {
  font-style: normal;
}

.left-wrapper > h2 {
  color: var(--MEDIUM);
}

.left-wrapper > h1 {
  color: var(--DARK);
}

.left-wrapper > p {
  color: var(--MEDIUM);
}

.frame-wrapper > .right-wrapper {
  width: 100%;
  grid-column: 5 / -1;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.right-wrapper > .frame-image {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: left top;
  position: relative;
  z-index: 2;
}

.right-wrapper > .source-image {
  position: absolute;
  object-fit: cover;
  transition: opacity 0.4s ease;
  z-index: 1;
}

@media screen and (max-width: 1680px) {
  .frame-wrapper > .left-wrapper {
    grid-column: 1 / 4;
  }

  .frame-wrapper > .right-wrapper {
    grid-column: 4 / -1;
  }
}

@media screen and (max-width: 1268px) {
  .frame-wrapper > .left-wrapper {
    grid-column: 1 / 2;
  }

  .frame-wrapper > .right-wrapper {
    grid-column: 2 / -1;
  }
}

@media screen and (max-width: 650px) {
  .frame-wrapper.grid {
    grid-auto-rows: auto;
    grid-template-rows: min-content;
  }

  .right-wraper {
    height: 100%;
  }

  .frame-wrapper > .left-wrapper {
    grid-column: 1 / -1;
  }

  .frame-wrapper > .right-wrapper {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 444px) {
  .frame-wrapper.grid {
    padding: 16px 16px;
  }
}

/* Touch mode */
.frame-wrapper.touch-mode {
  pointer-events: auto;
  grid-template-rows: min-content 1fr;
}

.frame-top-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.frame-top-bar a {
  color: var(--RED);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.frame-top-bar a:first-child {
  color: var(--BLUE);
}
