@import url("frames.style.css?static");

.grid__right-content {
  grid-column-start: auto;
  grid-column-end: auto;
}

.card__wrapper {
  flex-direction: column;
}

.hero-column-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-column-3 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px 8px;
}

/* columns */

#grid-featured-projects > .card__wrapper {
  grid-column: span 2;
}

/* span-4: 4 колонки */
#grid-artworks-for-sale > .card__wrapper {
  grid-column: span 4;
}

@media screen and (max-width: 1680px) {
  #grid-artworks-for-sale > .card__wrapper {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1268px) {
  #grid-artworks-for-sale > .card__wrapper {
    grid-column: span 4;
  }
}

@media screen and (max-width: 858px) {
  #grid-featured-projects > .card__wrapper {
    grid-column: span 3;
  }
  #grid-artworks-for-sale > .card__wrapper {
    grid-column: span 3;
  }
}

@media screen and (max-width: 650px) {
  #grid-featured-projects > .card__wrapper {
    grid-column: span 2;
  }
  #grid-artworks-for-sale > .card__wrapper {
    grid-column: span 2;
  }
}

@media screen and (max-width: 444px) {
  #grid-featured-projects > .card__wrapper {
    grid-column: span 1;
  }
  #grid-artworks-for-sale > .card__wrapper {
    grid-column: span 1;
  }
}

[id="card-_featured-projects-Put%20k%20khramu%20Bogini%20Tsvetov"] video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
