{{ define "content_fragment" }}
  {{ if .Page.Html }}
    {{ template "iframe" .Page.Html }}
  {{ end }}

  {{ if or .Resource.HtmlContent .Resource.ContentPath .Resource.Content }}
    <div class="grid">
      {{ if eq .Resource.Type "html" }}
        {{ template "html" .Resource.HtmlContent }}
      {{ else if eq .Resource.Type "image" }}
        {{ template "image" .Resource.ContentPath }}
      {{ else }}
        {{ template "code" .Resource.Content }}
      {{ end }}
    </div>
  {{ end }}

  {{ if .Resources }}
    <div id="grid-common" class="grid">
      {{ template "hr" "resources" }}

      {{ range .Resources }}
        {{ template "card" . }}
      {{ end }}
    </div>
  {{ end }}

  {{ if .Sections }}
    {{ range .Sections }}
      <div id="grid-{{ .Slug }}" class="grid">
        {{ template "hr" .Label }}

        {{ range .Resources }}
          {{ template "card" . }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}

  {{ if .HiddenResources }}
    <div id="grid-hidden" class="grid grid--hidden">
      {{ template "hr" "hidden" }}

      {{ range .HiddenResources }}
        {{ template "card" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
