{{ define "content_fragment" }}
  {{ if .Page.Html }}
    {{ template "iframe-content_component" .Page.Html }}
  {{ end }}

  {{ if or .Resource.HtmlContent .Resource.ContentPath .Resource.Content }}
    <div class="grid">
      <div class="grid__right-content">
        {{ template "resource-content_component" .Resource }}
      </div>
    </div>
  {{ end }}

  {{ if .Resources }}
    <div class="grid">
      {{ template "horizontal_ruler" "resources" }}

      {{ range .Resources }}
        {{ template "resource-card_component" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
