{{ define "footer_fragment" }}
  <footer class="grid footer">
    {{ template "horizontal_ruler" "footer" }}

    <h5>
      <a href="https://github.com/iwwwanow/owo">owo builded</a>
    </h5>
  </footer>
{{ end }}
