{{ define "card" }}
  <a class="card__wrapper border_light" href="/{{ .Path }}">
    {{ if .Cover }}
      <picture class="card__cover-container">
        <!-- TODO -->
        <!-- <source srcset={imageWidth190px2xSource} media="(max-width: 360px)" /> -->
        <!-- <source srcset={image2xSrcset} /> -->
        <img
          src="/{{ .Cover }}?static"
          class="card__img"
          alt="page card cover"
        />
      </picture>
    {{ end }}


    <div class="card__text-container">
      <h4 class="card__text-header">{{ .Title }}</h4>
    </div>
  </a>
{{ end }}
